Config { font = "xft:agave Nerd Font:pixelSize=11:antialias=true:hinting=true"
       , additionalFonts = [ "xft:mononoki Nerd Font:pixelSize=11:antialias=true:hinting=true"
													 ]
       , borderColor = "#282c34"
       , border = TopB
       , bgColor = "#282c34"
       , fgColor = "grey"
       , alpha = 210
       , position = TopW L 95
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "/home/user/.xmonad/xpm"
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "EGLC" ["-t","<station>: <tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    , Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "eth1" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run Battery ["-L", "10", "-H", "90","--low","red", "--normal", "#8ae234","--high", "#729fcf", "-t", "BAT: <left>"] 100
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<icon=haskell_20.xpm/> %cpu% | %memory% * %swap% | %eth0% - %eth1% }\
                    \{ %EGLC% | %battery% | <fc=#ee9a00>%date%</fc>"
       }
