Config { font = "xft:agave Nerd Font:pixelSize=10:antialias=true:hinting=true"
       , additionalFonts = [ "xft:mononoki Nerd Font:pixelSize=10:antialias=true:hinting=true"
													 ]
       , borderColor = "#282c34"
       , border = TopB
       , bgColor = "#282c34"
       , fgColor = "grey"
       , alpha = 210
       , position = TopW L 95
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "/home/user/.xmonad/xpm"
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "EGLC" ["-t","<tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    , Run Volume "default" "Master" [] 10

                    , Run Network "wlp7s0f3u3" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "wlp5s0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run Com "/home/user/.config/xmobar/trayer-padding-icon.sh" [] "trayerpad" 1
                    , Run Battery ["-L", "10", "-H", "90","--low","red", "--normal", "#8ae234","--high", "#729fcf", "-t", "BAT: <left>"] 100
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<icon=haskell_20.xpm/> %UnsafeStdinReader%   }\
                    \{ %cpu% | %memory% | %wlp5s0% %wlp7s0f3u3% | <fn=1></fn> %EGLC% | %battery% | %default:Master% | <fc=#ee9a00>%date%</fc>"
       }
